.Footer {
    background-color: darkcyan;
    min-height: 5%;
    max-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
.Footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Text-area {
    margin: 3px;
    padding: 3px;
    display: block;
    float: left;
    min-height: 1.5em;
    height: auto;
    overflow-y: auto;
    border-radius: 7px;
    width: 25vw;
    background-color: white;
    max-height: 5.5em;
}
.Text-area:focus {
    outline: none;
}
.Text-area::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.Text-area::-webkit-scrollbar
{
  width: 8px;
}
.Text-area::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #a9a6a6;
}
.Form {
    /* height: 10%; */
    margin: 5px;
    position: relative;
}
#newmes {
    /* margin-top: 10px; */
    display: none;
}
#fileUpload {
    display: none;
}
.mini-preview-image-wrapper {
    position: relative;
    width: min-content;
}
.mini-preview-opacity {
    opacity: 0.5;
}
.mini-preview {
    width: 60px;
    border-radius: 10px;
}
