* {padding: 0; margin: 0}
.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}

div.main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* border: solid 1px black; */
  width: 100%;
}










